
.box{
    border: 1px solid black;
    width: 60px;
}
.row{
    display: none;
}

.box:hover .row{
    display: block;
}

.row>p{
    padding: 5px;
    color: dodgerblue;
}

.Uzbek{
    color: red;
}

.row{
    border: 1px solid black;
}